<div class="row">
  <div class="col">
    <h2>Create Person</h2>
  </div>
</div>
<form [formGroup]="form" class="row my-5">
  <div class="col-12" *ngIf="error">
    <div class="alert alert-danger">
      <div *ngFor="let e of error">
        {{ e }}
      </div>
    </div>
  </div>
  <bdb-input class="col-md-6" label="Identification" formControlName="identification"></bdb-input>
  <bdb-input class="col-md-6" label="Full Name" formControlName="fullname"></bdb-input>
  <bdb-input class="col-md-6" label="Birth Date" type="date" formControlName="birth"></bdb-input>
  <bdb-select class="col-md-3" label="Gender" formControlName="gender" [options]="genderOptions"></bdb-select>
  <div class="col-md-12 mt-3">
    <button class="btn btn-primary" (click)="create()" [disabled]="saving">{{ saving ? 'saving...' : 'Create Person' }}</button>
  </div>
</form>

<div class="row">
  <div class="col">
    <button routerLink="/" class="btn btn-link float-end" [disabled]="saving">back to person list</button>
  </div>
</div>
